@import 'colors';


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.palette-container {
  display: flex;
  gap: .5rem;
  justify-content: stretch;
  margin-bottom: 1rem;
  .box {
    flex: 1 0 0;
  }
}

.box {
  padding: 1rem .75rem;
  border-radius: 4px;
  text-align: center;
}